body {
  font-family: 'Dosis', sans-serif;
  color: #1B1B1E;
  background-color: #F1E9DA;
}



#mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 10px;
}

#waveform {
  width: 101vw;
  height: 70vh;
}

#headerContainer{
  display: flex;
  flex-direction: column;
  margin: 20px;
}


#titleContainer {
  display: flex;
  margin: auto;
  padding-bottom: 30px;
}

#globalPlayStopContainer {
  display: flex;
  flex-direction: row;
  margin: auto;
}

#globalControlContainer {
  display: flex;
  flex-direction: row;
  margin: auto;
}

#tempoSliderContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#contentContainer {
  display: flex;
  justify-content: center; 
}

#sequencerContainer {
  display:flex;
  flex-direction: column;
}

#sequencerAndEffects {
  display: flex;
  flex-direction: row;
  margin: 5px;
}

#effectsContainer {
  display: flex;
  flex-direction: row;
  margin: auto;
}

#adsrDials {
  display: flex;
  flex-direction: column
}

#chorusContainer {
  display: flex;
  flex-direction: column;
}

#delayContainer {
  display: flex;
  flex-direction: column;
}

#bassSequencerContainer {
  display: flex;
  flex-direction: column;
}

#bassSequencerAndEffects {
  display: flex;
  flex-direction: row;
}

#bassEffects {
  display: flex;
  flex-direction: row;
  margin: auto;
}


#drumMachineHeader {
  display: flex;
}

#drumVolumeContainer {
  margin-top: 45px;
}


#drumMachineContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

#drumMachineAndEffects {
  display: flex;
  flex-direction: row;
}

#drumMachineEffects {
  display: flex;
  margin: auto;
}

#reverbContainer {
  display: flex;
  flex-direction: column;
  margin: auto;
}










